@font-face {
  font-family: "BebasNeue";
  src: url("assets/fonts/BebasNeue-Regular.otf"); }

@font-face {
  font-family: "TSBlock";
  src: url("assets/fonts/TSBlock-Bold.ttf"); }

@font-face {
  font-family: "Vaporwave";
  src: url("assets/fonts/Vaporwave.ttf"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.body_home {
  background-color: #08090a; }

.index_wrapper {
  background-color: #08090a; }
  @media (min-width: 800px) {
    .index_wrapper {
      display: grid;
      grid-template-columns: 2fr 2.5fr; } }
  @media (min-width: 1100px) {
    .index_wrapper {
      grid-template-columns: 3fr 2.2fr;
      height: 100%; } }

@media (min-width: 800px) {
  .green_border {
    position: absolute;
    width: 95vw;
    height: 92vh;
    border: 2px solid #bcf659;
    margin: 2rem;
    z-index: 1; } }

.header_home {
  position: relative; }

.body_about {
  background-color: #08090a; }

@media (min-width: 800px) {
  .violet_border {
    position: absolute;
    width: 95vw;
    height: 92vh;
    border: 2px solid #ad8afd;
    margin: 2rem;
    z-index: 1; } }

html::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #F5F5F5; }

html::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

html::-webkit-scrollbar-thumb {
  background-color: #000000; }

.information-ticket_page-number {
  font-size: 3.2rem;
  font-family: 'Segoe UI';
  font-weight: 700; }

.information-ticket_page-name {
  font-size: 1.9rem;
  font-family: 'BebasNeue'; }

.information-ticket_chinese-text {
  font-size: 1.9rem;
  font-family: 'Segoe UI';
  font-weight: 500; }

.information-ticket_developer-name {
  font-size: 2.5rem;
  font-family: 'BebasNeue'; }

.information-ticket_ocuppation {
  font-size: 1.6rem;
  font-family: 'Adobe Garamond Pro'; }
  .information-ticket_ocuppation a {
    text-decoration: none;
    color: #08090a; }

.header_primary {
  font-family: 'TSBlock';
  font-size: 3.9rem; }
  @media (min-width: 800px) {
    .header_primary {
      font-size: 4.5rem; } }
  @media (min-width: 800px) {
    .header_primary {
      font-size: 6.5rem; } }

.header_secondary {
  font-size: 2.5rem;
  font-family: 'BebasNeue'; }
  @media (min-width: 800px) {
    .header_secondary {
      font-size: 3.2rem; } }

.block_paragraph {
  font-family: 'Sitka Small';
  font-weight: 900;
  font-size: 1.6rem; }

.navigation-item {
  display: block;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 6rem;
  font-weight: 900;
  font-family: 'BebasNeue';
  text-decoration: none; }
  @media (min-width: 800px) {
    .navigation-item {
      font-size: 3.2rem; } }

.main_project-presentation-title {
  margin: 0.3rem;
  font-family: 'TSBlock';
  font-size: 3.2rem;
  color: #ffffff;
  -webkit-text-stroke: 2px #08090a; }
  @media (min-width: 1100px) {
    .main_project-presentation-title {
      display: none; } }

.main_project-presentation-title_desktop {
  margin: 0.3rem;
  font-family: 'TSBlock';
  font-size: 3.2rem;
  color: #ffffff;
  -webkit-text-stroke: 2px #08090a;
  display: none; }
  @media (min-width: 1100px) {
    .main_project-presentation-title_desktop {
      display: block;
      font-size: 6.5rem;
      margin-left: 25%;
      position: absolute;
      top: 180; } }
  @media (min-width: 1400px) {
    .main_project-presentation-title_desktop {
      top: 230; } }

.main_project-presentation-numbering {
  margin: 1.5rem;
  text-align: center;
  font-size: 3.2rem;
  font-family: 'Segoe UI';
  font-weight: 900;
  color: #08090a; }
  .main_project-presentation-numbering .number_active {
    color: #ad8afd; }
  @media (min-width: 1100px) {
    .main_project-presentation-numbering {
      color: #ffffff; }
      .main_project-presentation-numbering .number_total {
        -webkit-text-stroke: 2px #08090a; } }

.moving_text {
  font-family: 'Vaporwave';
  font-size: 2.5rem;
  margin: 6rem 0;
  overflow-x: hidden; }
  @media (min-width: 1100px) {
    .moving_text {
      display: none; } }

.main_details-chinese_text {
  font-size: 1.9rem;
  font-family: 'Segoe UI';
  font-weight: 500; }
  @media (min-width: 1100px) {
    .main_details-chinese_text {
      font-size: 4.5rem;
      font-weight: 900; } }

.main_details-geninfo_process-paragraph {
  font-family: 'Segoe UI';
  font-size: 1.9rem;
  font-weight: 100; }

@media (min-width: 1100px) {
  .main_details-year {
    font-size: 6.5rem; } }

.main_details-check-1 {
  font-family: 'TSBlock';
  font-size: 3.2rem;
  text-align: center; }

.main_details .label {
  font-family: 'Segoe UI';
  font-size: 1.9rem;
  font-weight: 100; }

.main_details .generality {
  font-family: 'Segoe UI';
  font-size: 1.9rem;
  font-weight: 100; }

.seeMore-animation img {
  transition: transform 2s ease; }
  .seeMore-animation img:hover {
    transform-style: preserve-3d;
    transform-origin: center center;
    transform: rotate(90deg); }

@keyframes glitch {
  70% {
    transform: none;
    opacity: 1; }
  72% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75; }
  75% {
    transform: none;
    opacity: 1; }
  78% {
    transform: none;
    opacity: 1; }
  81% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75; }
  83% {
    transform: none;
    opacity: 1; }
  86% {
    transform: none;
    opacity: 1; }
  89% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75; }
  91% {
    transform: none;
    opacity: 1; }
  93% {
    transform: none;
    opacity: 1; }
  94% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75; }
  96% {
    transform: none;
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1; }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75; }
  10% {
    transform: none;
    opacity: 1; }
  27% {
    transform: none;
    opacity: 1; }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75; }
  35% {
    transform: none;
    opacity: 1; }
  52% {
    transform: none;
    opacity: 1; }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75; }
  50% {
    transform: none;
    opacity: 1; }
  72% {
    transform: none;
    opacity: 1; }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75; }
  80% {
    transform: none;
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25; }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5; }
  10% {
    transform: none;
    opacity: 0.25; }
  27% {
    transform: none;
    opacity: 0.25; }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5; }
  35% {
    transform: none;
    opacity: 0.25; }
  52% {
    transform: none;
    opacity: 0.25; }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5; }
  50% {
    transform: none;
    opacity: 0.25; }
  72% {
    transform: none;
    opacity: 0.25; }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5; }
  80% {
    transform: none;
    opacity: 0.25; }
  100% {
    transform: none;
    opacity: 0.25; } }

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25; }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5; }
  10% {
    transform: none;
    opacity: 0.25; }
  27% {
    transform: none;
    opacity: 0.25; }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5; }
  35% {
    transform: none;
    opacity: 0.25; }
  52% {
    transform: none;
    opacity: 0.25; }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5; }
  50% {
    transform: none;
    opacity: 0.25; }
  72% {
    transform: none;
    opacity: 0.25; }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5; }
  80% {
    transform: none;
    opacity: 0.25; }
  100% {
    transform: none;
    opacity: 0.25; } }

.information-ticket {
  text-align: center;
  width: 16rem;
  padding: 0.3rem;
  box-shadow: 0.5px 0.5px 10px rgba(9, 8, 8, 0.4);
  position: absolute;
  background-color: #ffffff;
  z-index: 2; }
  .information-ticket * {
    padding: 0.7rem; }
  .information-ticket span {
    display: inline-block; }
    .information-ticket span:before {
      border-top: 4px solid #08090a;
      display: block;
      height: 1px;
      content: " ";
      width: 55%; }
  @media (min-width: 800px) {
    .information-ticket {
      top: 10%;
      left: 0; } }

.header_home {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 16rem 2fr;
  grid-template-rows: 35rem minmax(5rem, 18rem); }
  @media (min-width: 800px) {
    .header_home {
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 45rem minmax(5rem, 25rem); } }
  @media (min-width: 1100px) {
    .header_home {
      grid-template-rows: 1fr 1fr; } }
  .header_home .header_information-ticket {
    grid-column: 1/span 1;
    grid-row: 1/span 2; }
  .header_home .header_image-header {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    max-height: 100vh;
    width: 100%;
    background-image: url("assets/backgroundHome.jpg");
    background-position: bottom;
    background-size: cover; }
    @media (min-width: 1100px) {
      .header_home .header_image-header {
        grid-column: 1/span 2;
        grid-row: 1/span 2; } }
  .header_home .header_see-more {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    height: 100%;
    z-index: 5; }
    .header_home .header_see-more img {
      max-width: 15rem;
      padding: 0.3rem;
      margin-left: calc(50% - 7.5rem); }
    @media (min-width: 1100px) {
      .header_home .header_see-more {
        position: absolute; }
        .header_home .header_see-more img {
          padding: 0;
          position: absolute;
          margin-left: 23vw;
          width: 15rem;
          z-index: 2; } }

.header_projects {
  width: 100%;
  display: grid;
  grid-template-columns: 18rem 2fr;
  grid-template-rows: 35rem minmax(5rem, 1rem); }
  @media (min-width: 800px) {
    .header_projects {
      display: block; } }
  .header_projects-navigation {
    margin: auto;
    grid-column: 2/span 1;
    grid-row: 1/span 2; }
    @media (min-width: 800px) {
      .header_projects-navigation {
        position: absolute;
        right: 0; } }
    .header_projects-navigation .navigation-item {
      padding-right: 3rem;
      color: #08090a; }
      @media (min-width: 800px) {
        .header_projects-navigation .navigation-item {
          display: inline-block; } }

.body_home {
  overflow-x: hidden; }

.main_home {
  margin: 0.7rem; }
  @media (min-width: 800px) {
    .main_home {
      margin: 0;
      position: relative;
      z-index: 3; } }
  .main_home-information img {
    width: 55%; }
  @media (min-width: 1100px) {
    .main_home-information {
      margin-left: -2rem; } }
  .main_home .glitch-text-home {
    padding-bottom: 10rem;
    position: relative; }
    .main_home .glitch-text-home h1:nth-child(1) {
      animation: glitch1 2.5s infinite; }
    .main_home .glitch-text-home h1:nth-child(2) {
      color: #67f3da;
      animation: glitch2 2.5s infinite; }
    .main_home .glitch-text-home h1:nth-child(3) {
      color: #f16f6f;
      animation: glitch3 2.5s infinite; }
  .main_home-header_primary {
    color: #ffffff;
    text-align: right;
    position: absolute; }
    @media (min-width: 800px) {
      .main_home-header_primary {
        text-align: left; } }
    .main_home-header_primary .span_green {
      color: #bcf659; }
  .main_home-paragraph {
    color: #ffffff;
    padding: 1.5rem; }
    @media (min-width: 800px) {
      .main_home-paragraph {
        padding: 0;
        right: 12rem;
        bottom: 10rem;
        width: 25rem;
        position: absolute; } }
  .main_home-some {
    margin-left: calc(50% - 10rem);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    @media (min-width: 800px) {
      .main_home-some {
        background-color: #08090a;
        border: 1.5px solid #bcf659;
        position: absolute;
        right: 0;
        top: 300; } }
    .main_home-some * {
      display: inline; }
    .main_home-some img {
      z-index: 2;
      border: 1px solid #bcf659;
      width: 4.5rem;
      padding: 0.7rem; }
      @media (min-width: 800px) {
        .main_home-some img {
          display: block; } }

@media (min-width: 1100px) {
  .main_project {
    position: relative; } }

.main_project-generalities .main_project-arrows {
  display: none; }

@media (min-width: 1100px) {
  .main_project-generalities {
    margin-left: 15%;
    margin-top: -20vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .main_project-generalities .main_project-arrows {
      display: block;
      width: 4.5rem;
      padding: 0.7rem; }
    .main_project-generalities .main_project-black-rect {
      grid-column: 2/span 5;
      grid-row: 1/span 7;
      object-fit: cover;
      height: 90%; }
    .main_project-generalities .main_project-presentation-numbering {
      margin-top: -2.5rem;
      grid-column: 5/span 1;
      grid-row: 6/span 1; }
    .main_project-generalities .arrows-wrapper {
      grid-column: 1/span 5;
      grid-row: 2/span 3; }
      .main_project-generalities .arrows-wrapper .arrow-right {
        position: absolute; }
      .main_project-generalities .arrows-wrapper * {
        display: inline; } }

.main_project-presentation_words {
  width: 80%; }
  @media (min-width: 800px) {
    .main_project-presentation_words {
      margin-top: 14rem; } }
  @media (min-width: 1100px) {
    .main_project-presentation_words {
      margin: 0;
      width: 30%;
      margin-left: 15%;
      height: 40vw; } }
  @media (min-width: 1400px) {
    .main_project-presentation_words {
      height: 35vw; } }

.main_project-black-rect {
  max-width: 100%;
  display: none; }
  @media (min-width: 1100px) {
    .main_project-black-rect {
      display: block; } }

.main_project-presentation_image {
  margin: 0.7rem 0;
  width: 100%;
  border-top: 2px solid #08090a;
  border-bottom: 2px solid #08090a; }
  .main_project-presentation_image:hover {
    cursor: pointer; }
  @media (min-width: 1100px) {
    .main_project-presentation_image {
      width: 85%;
      border: 0px; } }

.main_projects-show {
  margin-left: calc(50% - 14.5rem); }
  @media (min-width: 800px) {
    .main_projects-show {
      margin-left: calc(50% - 29rem); } }
  @media (min-width: 1100px) {
    .main_projects-show {
      width: 20rem;
      position: absolute;
      right: 0;
      top: 40%; } }
  .main_projects-show article {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    padding: 0.7rem; }
  .main_projects-show img {
    border: 2px solid #08090a;
    width: 100%;
    height: 100%;
    filter: contrast(130%);
    object-fit: cover; }

.body_details {
  background-color: #08090a;
  overflow-x: hidden; }

.main_details {
  color: #ffffff; }
  @media (min-width: 800px) {
    .main_details {
      position: relative; } }
  .main_details * {
    margin: 0.7rem 0; }
  .main_details-month {
    display: inline-block; }
    .main_details-month:before {
      border-top: 4px solid #ffffff;
      display: block;
      height: 1px;
      content: " ";
      width: 45%; }
  .main_details-month {
    padding: 0.7rem;
    padding-bottom: 0;
    margin-left: calc(100% - 10rem); }
    @media (min-width: 800px) {
      .main_details-month {
        margin: 1.5rem;
        margin-left: calc(100% - 12rem);
        margin-bottom: 2rem; } }
    @media (min-width: 1100px) {
      .main_details-month {
        margin-left: calc(100% - 40rem);
        margin-top: -3rem; } }
  .main_details-year {
    padding: 0.7rem;
    padding-top: 0; }
    @media (min-width: 800px) {
      .main_details-year {
        margin: 2rem 0.7rem; } }
    @media (min-width: 1100px) {
      .main_details-year {
        writing-mode: vertical-lr;
        float: right;
        margin-top: 50rem; } }
  .main_details-chinese_text {
    padding: 0 0.7rem;
    font-size: 3.2rem;
    position: absolute;
    margin-top: -5rem;
    right: 0; }
  .main_details-image_desktop {
    width: 100%;
    border: 4px solid #ffffff; }
    @media (min-width: 800px) {
      .main_details-image_desktop {
        display: none; } }
  .main_details-image_mobile {
    border: 4px solid #ffffff;
    max-width: 60%;
    z-index: 2;
    position: relative; }
    @media (min-width: 800px) {
      .main_details-image_mobile {
        display: none; } }
  .main_details-details {
    width: 110%;
    margin-left: -5rem;
    margin-top: -10rem;
    z-index: 0; }
    @media (min-width: 800px) {
      .main_details-details {
        width: 45%;
        margin: 1.5rem;
        position: absolute;
        top: 220; } }
    @media (min-width: 1100px) {
      .main_details-details {
        width: 30%;
        left: 0;
        top: 320; } }
  .main_details-geninfo {
    margin: 2rem; }
    .main_details-geninfo_process-header {
      color: #ad8afd; }
      @media (min-width: 800px) {
        .main_details-geninfo_process-header {
          color: #ffffff; } }
      @media (min-width: 1100px) {
        .main_details-geninfo_process-header {
          color: #08090a; } }
    .main_details-geninfo-image_mobile {
      max-height: 60vh; }
    @media (min-width: 800px) {
      .main_details-geninfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 20rem);
        column-gap: 2rem; } }
    @media (min-width: 1100px) {
      .main_details-geninfo {
        grid-template-columns: 0.9fr 0.9fr 1.25fr;
        grid-template-rows: repeat(3, 18rem);
        width: 95rem;
        padding: 1.5rem;
        column-gap: 0.5rem;
        background-color: #ffffff;
        color: #08090a;
        position: absolute;
        top: 100;
        margin-left: calc(50% - 47.5rem); } }
    .main_details-geninfo_visual {
      display: none; }
      @media (min-width: 800px) {
        .main_details-geninfo_visual {
          display: block; }
          .main_details-geninfo_visual .generality-role:before {
            content: url(assets/multiple-users-1.png); }
          .main_details-geninfo_visual .generality-extras:before {
            content: url(assets/magic-extras-1.png); }
          .main_details-geninfo_visual .generality-location:before {
            content: url(assets/location-maps-1.png); }
          .main_details-geninfo_visual .main_details-geninfo-generalities {
            display: none; } }
    @media (min-width: 800px) and (min-width: 1100px) {
      .main_details-geninfo_visual .main_details-geninfo-generalities {
        display: inline-block;
        position: absolute;
        margin: 0.3rem 2rem; }
        .main_details-geninfo_visual .main_details-geninfo-generalities * {
          padding: 0.7rem 0; } }
      @media (min-width: 800px) {
          .main_details-geninfo_visual .details_image {
            border: 4px solid #ffffff;
            width: 45%;
            z-index: 2;
            position: relative;
            object-fit: cover; } }
    @media (min-width: 800px) and (min-width: 1100px) {
      .main_details-geninfo_visual .details_image {
        object-fit: contain; } }
  @media (min-width: 800px) and (min-width: 1100px) {
    .main_details-geninfo_visual .main_details-geninfo-image_desktop {
      width: 95%;
      margin: 0; } }
  @media (min-width: 800px) and (min-width: 1100px) {
    .main_details-geninfo_visual .main_details-geninfo-image_mobile {
      width: 35%;
      object-fit: cover;
      height: 27rem;
      display: inline-block; } }
      @media (min-width: 1100px) {
        .main_details-geninfo_visual {
          grid-column: 1/span 2;
          grid-row: 1/span 3; } }
    .main_details-geninfo_graphs {
      display: none; }
      @media (min-width: 800px) {
        .main_details-geninfo_graphs {
          display: block;
          grid-column: 2/span 1;
          grid-row: 1/span 1; }
          .main_details-geninfo_graphs ul {
            max-width: 50rem;
            list-style-type: none; }
            .main_details-geninfo_graphs ul li {
              border-top-right-radius: 0.5rem;
              border-bottom-right-radius: 0.5rem;
              margin: 1.5rem 0;
              height: 3rem;
              background: linear-gradient(to left, #ad8afd, #6CAEBC); }
            .main_details-geninfo_graphs ul .label {
              margin: 0.7rem; } }
      @media (min-width: 1100px) {
        .main_details-geninfo_graphs {
          grid-column: 3/span 1;
          grid-row: 1/span 1;
          margin: 1.5rem; } }
    @media (min-width: 800px) {
      .main_details-geninfo_process {
        grid-column: 2/span 1;
        grid-row: 2/span 2; } }
    @media (min-width: 1100px) {
      .main_details-geninfo_process {
        grid-column: 3/span 1;
        grid-row: 2/span 2;
        margin: 1.5rem;
        padding-top: 6.5rem; } }
  .main_details-check a {
    text-decoration: none; }
  .main_details-check-1 {
    margin: 1.5rem;
    -webkit-text-stroke: 1px #ffffff;
    color: #08090a;
    text-shadow: 0.75vmin 0.75vmin 0 #bcf659, -0.75vmin -0.75vmin 0 #ad8afd; }
    @media (min-width: 800px) {
      .main_details-check-1 {
        margin-bottom: 6rem;
        margin-top: -10rem; } }
    @media (min-width: 1100px) {
      .main_details-check-1 {
        float: right;
        margin: 0;
        width: 5rem;
        margin-right: 3%;
        margin-top: 27rem; } }

.about_wrapper .grid_system {
  z-index: 2; }

@media (min-width: 800px) {
  .about_wrapper {
    display: grid;
    grid-template-columns: 3fr 2.2fr;
    grid-template-rows: 99vh;
    overflow-y: hidden; } }

.about_wrapper .glitch-text h1:nth-child(1) {
  animation: glitch1 2.5s infinite; }

.about_wrapper .glitch-text h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite; }

.about_wrapper .glitch-text h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite; }

.about_wrapper-header {
  color: #ffffff;
  width: 25rem;
  position: absolute;
  margin-left: calc(100% - 26rem);
  text-align: right; }
  .about_wrapper-header .span-violet {
    color: #ad8afd; }
  @media (min-width: 800px) {
    .about_wrapper-header {
      margin: 0;
      margin-top: 18rem;
      margin-left: calc(10% - 5rem);
      text-align: left;
      width: 40rem; } }

.about_wrapper-information_seeMore {
  max-width: 15rem;
  padding: 0.3rem;
  margin-left: -5rem;
  margin-top: -3rem; }
  @media (min-width: 800px) {
    .about_wrapper-information_seeMore {
      display: none; } }

.about_wrapper-seeMore {
  display: none; }
  @media (min-width: 800px) {
    .about_wrapper-seeMore {
      display: block;
      position: absolute;
      padding: 0;
      width: 15rem;
      margin-top: 35rem;
      margin-left: -10vw; } }
  @media (min-width: 1100px) {
    .about_wrapper-seeMore {
      margin-left: -4.5vw; } }

.about_wrapper .header_about {
  width: 100%;
  display: grid;
  grid-template-columns: 18rem 2fr;
  grid-template-rows: 35rem minmax(5rem, 1rem);
  margin-bottom: 10rem; }
  @media (min-width: 800px) {
    .about_wrapper .header_about {
      display: block;
      margin-bottom: 0;
      background-image: url(assets/profile-picture.jpg);
      background-size: cover;
      background-position: left;
      animation: glitch 6s infinite;
      mix-blend-mode: hard-light; } }
  .about_wrapper .header_about-navigation {
    margin: auto;
    grid-column: 2/span 1;
    grid-template-rows: 1/span 2; }
    @media (min-width: 800px) {
      .about_wrapper .header_about-navigation {
        display: none;
        position: absolute;
        right: 0; } }
    .about_wrapper .header_about-navigation .navigation-item {
      padding-right: 3rem;
      color: #ffffff; }
      @media (min-width: 800px) {
        .about_wrapper .header_about-navigation .navigation-item {
          display: inline-block; } }
  .about_wrapper .header_about-navigation-desktop {
    margin: auto;
    grid-column: 2/span 1;
    grid-template-rows: 1/span 2;
    display: none; }
    @media (min-width: 800px) {
      .about_wrapper .header_about-navigation-desktop {
        display: block;
        position: absolute;
        right: 6rem; } }
    .about_wrapper .header_about-navigation-desktop .navigation-item {
      padding-right: 3rem;
      color: #ffffff; }
      @media (min-width: 800px) {
        .about_wrapper .header_about-navigation-desktop .navigation-item {
          display: inline-block; } }

.about_wrapper-some {
  margin-left: calc(50% - 10rem);
  margin-bottom: 2rem; }
  @media (min-width: 800px) {
    .about_wrapper-some {
      margin-top: 34rem;
      background-color: #08090a;
      border: 1.5px solid #ad8afd;
      position: absolute;
      right: 0;
      z-index: 2; } }
  .about_wrapper-some * {
    display: inline; }
  .about_wrapper-some img {
    border: 1px solid #ad8afd;
    width: 4.5rem;
    padding: 0.7rem; }
    @media (min-width: 800px) {
      .about_wrapper-some img {
        display: block; } }

.active:after {
  display: block;
  content: " ";
  background-color: #ad8afd;
  width: 0%;
  height: 3px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0; }

.active:hover:after {
  width: 100%;
  opacity: 1; }
