.body_home {
	overflow-x: hidden;
}

.main_home {
	margin: $margin-m;

	@include tablet {
		margin: 0;
		position: relative;
		z-index: 3;
	}

	&-information {
		img {
			width: 55%;
		}

		@include small-desktop {
			margin-left: -$margin-xl;
		}
	}

	.glitch-text-home {
		padding-bottom: 10rem;
		position: relative;

		h1:nth-child(1) {
			animation: glitch1 2.5s infinite;
		}

		h1:nth-child(2) {
			color: #67f3da;
			animation: glitch2 2.5s infinite;
		}

		h1:nth-child(3) {
			color: #f16f6f;
			animation: glitch3 2.5s infinite;
		}
	}

	&-header_primary {
		color: $color-white;
		text-align: right;
		position: absolute;

		@include tablet {
			text-align: left;
		}

		.span_green {
			color: $color-green;
		}
	}

	&-paragraph {
		color: $color-white;
		padding: $padding-l;

		@include tablet {
			padding: 0;
			right: 12rem;
			bottom: 10rem;
			width: 25rem;
			position: absolute;
		}
	}

	&-some {
		margin-left: calc(50% - 10rem);
		margin-top: $margin-xl;
		margin-bottom: $margin-xl;

		@include tablet {
			background-color: $color-black;
			border: 1.5px solid $color-green;
			position: absolute;
			right: 0;
			top: 300;
		}

		* {
			display: inline;
		}

		img {
			z-index: 2;
			border: 1px solid $color-green;
			width: 4.5rem;
			padding: $padding-m;

			@include tablet {
				display: block;
			}
		}
	}
}